@model AuthenticateRequest

<div class="login-content">
    <div class="login-box">
        <div class="login-logo">
            <a href="javascript:void(0)"><b>Đăng </b>nhập</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Đăng nhập để sử dụng</p>

                <form id="login-form">
                    @Html.HiddenFor(m => m.ReturnUrl)                    
                    <div class="input-group mb-3">
                        <input asp-for="UserName" class="form-control" placeholder="Tên đăng nhập">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>                        
                    </div>    
                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Mật khẩu">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>     
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="RememberMe" id="remember">
                                <label for="remember">
                                    Duy trì đăng nhập
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="button" id="btnLogin" class="btn btn-primary btn-block"><span style="font-size: 14px">Đăng nhập</span></button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                @*<div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>*@
                <!-- /.social-auth-links -->

                @*<p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p>*@
                <p class="mb-0">
                    <a href="javascript:void(0)" data-action="register" class="text-center">Chưa có tài khoản?</a>
                </p>
            </div>
        <!-- /.login-card-body -->
        </div>
    </div>
</div>
<!-- /.login-box -->

@section HeadScripts{
    <script>
        var master = {
            urlLogin: '@Url.Action("Login")',
            urlRegister: '@Url.Action("Register")',
            form: {
                el: '#login-form',
                $el: {},
                init: function () { },
                validate: function () { }
            },
            btnLogin: {
                el: '#btnLogin',
                $el: {},
                init: function () { }
            },
            btnRegister: {
                el: 'a[data-action="register"]',
                $el: {},
                init: function () { }
            },
            init: function () { }
        }

        var form = master.form;
        var btnLogin = master.btnLogin;       
        var btnRegister = master.btnRegister;
    </script>
}

@section Scripts{
    <script>
        master.init = function(){
            form.init();
            btnLogin.init();
            btnRegister.init();
        }

        form.init = function(){
            form.$el = $(form.el);
            form.validate();
        }

        form.validate = function(){
            form.$el.validate({
                rules:{
                    UserName: "required",
                    Password: {
                        required: true,
                        minlength: 6
                    }
                },
                messages:{
                    UserName: "Tên đăng nhập không để trống",
                    Password: {
                        required: "Mật khẩu không để trống",
                        minlength: "Mật khẩu tối thiểu 6 ký tự"
                    }
                },
                errorPlacement: function(error, element){
                    error.insertBefore($(element).parent());
                }
            });
        }

        btnLogin.init = function(){
            btnLogin.$el = $(btnLogin.el);
            btnLogin.$el.click(function(e){
                e.preventDefault();

                if (form.$el.valid()){
                    var request = form.$el.serialize();
                    $.ajax({
                        url: master.urlLogin,
                        data: request,
                        type: 'POST',
                        dataType: 'json',
                        success: function(res){
                            if (res.status){
                                location.href = res.data;
                            }
                        },
                        error: function(err){

                        }
                    });
                }                
            });
        }

        btnRegister.init = function(){
            btnRegister.$el = $(btnRegister.el);
            btnRegister.$el.click(function(e){
                e.preventDefault();

                location.href = master.urlRegister;
            });
        }

        $(function(){            
            master.init();
        });
    </script>
}
