@model UserModel

<div class="login-content">
    <div class="register-box">
      <div class="register-logo">
        <a href="javascript:void(0)"><b>Đăng </b>ký</a>
      </div>

      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Đăng ký thành viên mới</p>

          <form id="register-form">
            <div class="input-group mb-3">
              <input asp-for="UserName" class="form-control" placeholder="Tên đăng nhập">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input asp-for="Email" class="form-control" placeholder="Hòm thư">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input asp-for="Password" class="form-control" placeholder="Mật khẩu">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" id="retype-password" name="retype-password" class="form-control" placeholder="Nhập lại mật khẩu">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="agreeTerms" name="agreeTerms" value="agree">
                  <label for="agreeTerms">
                   Tôi đồng ý <a href="#">các điều khoản</a>
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button type="button" id="btnRegister" class="btn btn-primary btn-block"><span style="font-size: 14px">Đăng ký</span></button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          @*<div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i>
              Sign up using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
              <i class="fab fa-google-plus mr-2"></i>
              Sign up using Google+
            </a>
          </div>*@

          <a href="javascript:void(0)" id="btnBackLogin" class="text-center">Đã có tài khoản</a>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>

@section HeadScripts{
    <script>
        var master = {
            urlRegister: '@Url.Action("Register")',
            urlLogin: '@Url.Action("Login")' + '?ReturnUrl=%2F',
            form: {
                el: '#register-form',
                $el: {},
                init: function() { },
                validate: function() { }
            },
            btnRegister: {
                el: '#btnRegister',
                $el: {},
                init: function () { }
            },
            btnBackLogin: {
                el: '#btnBackLogin',
                $el: {},
                init: function () { }
            },
            init: function () { }
        };

        var form = master.form;
        var btnRegister = master.btnRegister;
        var btnBackLogin = master.btnBackLogin;
    </script>
}

@section Scripts{
    <script>
        master.init = function () {
            form.init();
            btnRegister.init();
            btnBackLogin.init();
        }

        form.init = function () {
            form.$el = $(form.el);
            form.validate();
        }

        form.validate = function () {
            form.$el.validate({
                rules: {
                    UserName: "required",
                    Password: {
                        required: true,
                        minlength: 6
                    },
                    "retype-password": {
                        equalTo: '#Password',
                        minlength: 6
                    },
                    agreeTerms: "required"
                },
                messages: {
                    UserName: "Tên đăng nhập không để trống",
                    Password: {
                        required: "Mật khẩu không để trống",
                        minlength: "Mật khẩu tối thiểu 6 ký tự"
                    },
                    "retype-password":{
                        equalTo: "Mật khẩu không khớp",
                        minlength: "Mật khẩu tối thiểu 6 ký tự"
                    },
                    agreeTerms: "Chưa đồng ý điều khoản"
                },
                errorPlacement: function(error, element){
                    error.insertBefore($(element).parent());
                }
            });
        }

        btnRegister.init = function (){
            btnRegister.$el = $(btnRegister.el);

            btnRegister.$el.click(function (e){
                e.preventDefault();

                if (form.$el.valid()){
                    var model = form.$el.serialize();

                    $.ajax({
                        url: master.urlRegister,
                        data: model,
                        dataType: 'json',
                        type: 'POST',
                        success: function(res){
                            if (res.status){
                                location.href = master.urlLogin;
                            }
                        },
                        error: function (err){

                        }
                    });
                }
            });
        }

        btnBackLogin.init = function () {
            btnBackLogin.$el = $(btnBackLogin.el);

            btnBackLogin.$el.click(function(e){
                location.href = master.urlLogin;
            });
        }

        $(function(){
            master.init();
        });
    </script>
}